<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <section id="app">    
      <header>
      <form action="/" @submit.prevent>
        <label for="limits">SIZE:</label>
        <select name="limits" id="limits" v-model="limit">
          <option value="12" active>24</option>
          <option value="8">16</option>
          <option value="6">12</option>
        </select>
      </form>
      <button 
      v-if="isWinner" 
      @click="winnerClicker" 
      id="restartBtn" 
      class="btn" 
      @mouseover="$event.target.classList.add('active')"
      @mouseleave="$event.target.classList.remove('active')"
      ><SPAN>PLAY AGAIN</SPAN></button>
      <button 
      :disabled="!isPaused" 
      @click="isPaused = !isPaused"
      class="btn" 
      @mouseover="$event.target.classList.add('active')"
      @mouseleave="$event.target.classList.remove('active')"
      ><span>START</span></button>
      <button 
      :disabled="isPaused || isWinner" 
      @click="isPaused = !isPaused" 
      class="btn" 
      @mouseover="$event.target.classList.add('active')"
      @mouseleave="$event.target.classList.remove('active')"
      ><span>STOP</span></button>
      <div class="results">
        <span>Best result: {{ getTime(bestResult) }}</span>
        <span>Current result: {{ getTime(result) }}</span>
      </div>
    </header>
    <div id="container" class="large">
      <div class="placeholder" v-if="isPaused && !!bestResult"><p>PAUSED</p></div>
      <div class="placeholder" v-else-if="isPaused && !bestResult"><p>START</p></div>
      <div class="placeholder" v-else-if="isWinner"><p>CONGATULATIONS!</p></div>
      <div 
      v-for="(card, index) in cards" 
      v-on:click="cardClicker(card, $event)" 
      :class="{ active: card.isActive }"
      class="card hide" 
      v-if=" index < Number(limit)"
      >
      <img class="card" v-bind:src="card.src" alt="">
    </div>
    <div 
    v-for="(card, index) in cards" 
    v-on:click="cardClicker(card, $event)" 
    :class="{ active: card.isActive }"
    class="card hide" 
    v-if=" index < Number(limit)"
    >
    <img class="card" v-bind:src="card.src" alt="">
  </div>
</div>
</section>
<script src="./index.js"></script>
</body>
</html>